<div class="divider"></div>
<a href="/account/login/">
    <img src="~/Content/resources/icons/login.png" alt="login icon">
    <div class="menu-text">Login</div>
</a>
<div class="divider"></div>
<a href="/account/register/">
    <img src="~/Content/resources/icons/register.png" alt="register icon">
    <div class="menu-text">Register</div>
</a>